{% extends 'base.html.twig' %}

{% block title %}
    {{page}}
{% endblock %}
{% block body %}
     {% if app.user %}
    <script>
        window.location.replace("{{path('home')}}");
    </script>
    {% endif %}
    <style>
        .log_container{
            display:flex;
            flex-wrap:wrap;
            margin:auto;
            max-width:1100px;
            width:100%;
            margin-top:100px;
            text-align:center;
        }
        .log_svg img{
            max-width:700px;
            width:80%;
            margin-right:-200px;
            margin:auto;
            margin-bottom:10px;
        }
        .log_svg a{
            color:black;
            font-family:'Metropolise Regular',sans-serif;
            
        }
        .login{
            
            margin:auto;
            text-align:left;
        }
        .login h1{
            font-family:'Metropolis Black',sans-serif;
            margin-bottom:60px;
        }
        .login input{
            font-family:'Metropolis Regular',sans-serif;
            border:0px;
            border-bottom:1px solid #AFAAAA;
            padding:10px;
            margin-bottom:30px;
            margin-left:-10px;
            z-index:1;
            padding-left:30px;
            width:240px;
        }
        .login span img{
            z-index:10;
            width:15px;
            position:relative;
            left:12px;
            top:5px;
        }
        .login input:focus{
            outline:none;
        }
        .checkbox{
            position:relative;
            right:90px;
            width:10px;
        }
        .login p{
            position:relative;
            bottom:43px;
        }
        .btn{
            padding:20px;
            padding-left:40px;
            padding-right:40px;
            border-radius:10px;
            border:none;
            background-color:#2BB07F;
            font-family:'Metropolis',sans-serif;
            color:white;
            font-size:28px;
        }
        .btn:hover{
            background:white;
            color:black;
            cursor:pointer;
            border:1px solid black;
            margin-bottom:20px;
        }
        .btn2{
            display:none;
            padding:10px;
            border-radius:10px;
            margin-top:10px;
            border:2px solid #2BB07F;
            background:white;
            color:#2BB07F;
            font-family:'Metropolis',sans-serif;
            font-size:28px;
            margin-bottom:50px;
        }
        .btn2:hover{
            
            border:2px solid #2BB07F;
            cursor:pointer;
            background-color:#2BB07F;
            color:white;
        }
        .alert {
    position: fixed;
    margin: auto;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    background-color: #eb6565;
    color: white;
    z-index: 300;
}
    </style>
    {% for message in app.flashes('failure') %}
            <div class="alert" id="error">
                {{ message }}
            </div>
        {% endfor %}
    <div class="log_container">
        
        <div class="login">
            <h1>
                Sign Up
            </h1>
            <style>
                .login ul li{
                    
                    padding: 10px;
                    background-color: #eb6565;
                    color: white;
                }
            </style>
            {{form_start(form)}}
            {{form_errors(form.userName)}}
            <span><img src="assets/person.svg"/></span>{{form_widget(form.userName,{'attr' : {'placeholder': 'UserName'}})}}</br>
            {{form_errors(form.userEmail)}}
            <span><img src="assets/email.svg"/></span>{{form_widget(form.userEmail,{'attr' : {'placeholder': 'UserEmail'}})}}</br>
            {{form_errors(form.userPass)}}</br>{{form_errors(form.confirmPass)}}
            <span><img src="assets/padlock.svg"/></span>{{form_widget(form.userPass,{'attr' : {'placeholder': 'UserPass','style':'width:100px'}})}}<span><img src="assets/padlock.svg"/></span>{{form_widget(form.confirmPass,{'attr' : {'placeholder': 'Confirm UserPass','style':'width:100px'}})}}</br>
            {{form_errors(form.userPhone)}}
            <span><img src="assets/phone-call.svg"/></span>{{form_widget(form.userPhone,{'attr' : {'placeholder': 'User Phone'}})}}</br>
            <button value="Log In" class="btn">Sign Up</button></br>
            {{form_end(form)}}
            <a href="{{absolute_url('login')}}"><button class="btn2">Sign Up</button></a>
        </div>
        <div class="log_svg">
            <img src="assets/reg.svg"/></br>
            <a href="./login">Already have an account ?<p></a>
        </div>
        
    </div>

{% endblock %}
{% block footer %}

{% endblock %}