{% extends "cpanel/index.html.twig" %}

{% block right %}
<style>
    
</style>
<div class="right-container">
    <h1>Comments : </h1>
    {{form(form)}}
    {% for comment in comments %}
    <div class="element">
        <div class="leftel">
        <p>{{comment.id}} - </p>
        <p>user id :{{comment.user.id}} - </p>
        <p>{{comment.user.userName}} - </p>
        <p>{{comment.date|date("m/d/Y h:i:s")}} - </p>
        <p>{{comment.content}}</p>
        </div>
        <div class="rightel">
            <a href="{{path('dcomment',{'id':comment.id})}}"><p>Delete</p></a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}