{% extends "cpanel/index.html.twig" %}

{% block right %}
<style>
    
</style>
<div class="right-container">
    <h1>Orders : </h1>
    {{form(form)}}
    {% for order in orders %}
    
    <div class="element">
        <div class="leftel">
        <p>{{order.id}} - </p>
        <p>{{order.startDate|date("m/d/Y h:i:s")}} - </p>
        <p>{{order.endDate|date("m/d/Y h:i:s")}} - </p>
        <p>{{order.stade.stadeName}} - </p>
        <p>{{order.user.userName}} - </p>
        {% if order.verified %}
        <p>Verified</p>
        {% else %}
        <p>Not Verified</p>
        {% endif %}
        </div>
        <div class="rightel">
            {% if order.verified == false %}<a href="{{path('verifyOrder',{'id':order.id})}}"><p>Verify</p></a>{%  endif  %}
            <a href="{{path('dorders',{'id':order.id})}}"><p>Delete</p></a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}